.sub-menu {
	display: inline-block;
	position: absolute;
}
input, .input-style {
    font-weight: 400;
    width: 100%;
    display: inline-block;
    padding: 7px;
    font-size: 18px;
    border: 1px solid #ddd;
    margin-bottom: 18px;
    box-sizing: border-box;
}
.input-style:focus {
	transition: all .3s;
    outline: 1px solid #40A798;
    box-shadow: 0px 0px 6px 2px #40a798;
}
input:focus {
    transition: all .3s;
    outline: 1px solid #40A798;
    box-shadow: 0px 0px 6px 2px #40a798;
}

.dot-more {
	position: relative;
	border-radius: 50%;
	padding: 2px;
	transition: background-color .3s;
}

.dot {
	margin-left: 1px;
	display: inline-block;
	height: 4px;
	width: 4px;
	border-radius: 50%;
	background-color: #fff;
	transition: background-color .3s;
}

.dot-more:hover {
	background-color: rgba(255, 255, 255, 0.2);
	cursor: pointer;
}

.dot-more:hover .dot {
	background-color: #40a798;
}

.dot.dot-home {
	background-color: #000;
}

.sub-container {
	position: absolute;
	top: 20px;
	right: 0;
	width: 90px;
	background-color: rgba(255, 255, 255, 1);
	display: none;
	border-radius: 10px;
	transition: all .3s;
	overflow: hidden;
	z-index: 10;
}

.sub-container.sub-container-home{
	width: auto;
}

.sub {
	display: block;
	text-decoration: none;
	color: black;
	padding: 10px;
	font-weight: 500;
}

.sub.sub-home{
	width: 110px;
}

.sub.sub-home:hover{
	text-decoration: none;
	cursor: pointer;
	background-color: #F2F3F5;
	color: #000;
	border: none;
}


.sub:last-child {
	border-bottom: none;
}

.sub:hover {
	text-decoration: none;
	cursor: pointer;
	border-left: 3px solid #149AC9;
	background-color: #149AC9;
	color: #fff;
}

.sub-menu:hover .sub-container {
	display: inline-block;
}


#show-img-container{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(1,1,1,0.8);
	z-index: 999999;
	display: flex;
	justify-content: center;
	align-items: center;
}
#show-img{
}
.close-icon{
	position: absolute;
	top: 20px;
	right: 20px;
	font-size:48px!important;
	color:#fff;
	opacity: 0.7;
}
.close-icon:hover{
	cursor: pointer;
}

.action-top{
	top: 10px;
    right: 10px;
}

.action-bottom{
	top: 50px!important;
    right: 10px!important;
}
.btn-cuaduc{
	border-radius: 20px;
	border: none;
	background-color:#40A798;
	padding: 5px 15px 5px 15px;
	transition: all .3s;
	color: #fff;
}
.btn-cuaduc:hover{
	background-color: black;
}