<?xml version="1.0" encoding="UTF-8"?>
<!-- create SQL Mapper-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="mappers.aboutMapper"> <!-- like package -->
	<!-- no need loop resultSet -->
	<resultMap type="aboutVO" id="aboutResult">
		<!-- <result property="bkid" column="bkid"/>-->
	</resultMap>
	<!-- make sql statement -->
	
	<!-- List<Book> books = selectAll -->
	<select id="selectAll" resultMap="aboutResult"> <!-- mapper.bookMapper.selectAll -->
		<![CDATA[
			select * from about
		]]>
	</select>
	<select id="selectOne" resultMap="aboutResult" parameterType="int">
		<![CDATA[
			select * from about 
			where aboutid = #{aboutId}
		]]>
	</select>
	<select id="selectOneByUser" resultMap="aboutResult" parameterType="int">
		<![CDATA[
			select * from about 
			where userid = #{id}
		]]>
	</select>
	<insert id="insert" parameterType="aboutVO">
		<![CDATA[
			insert into about
			(education,country,lives,birthday,userid, bio, comefrom, company)
			values
			(#{education},#{country},#{lives},#{birthday},#{userId}, #{bio}, #{comeFrom}, #{company})
		]]>
	</insert>
	<update id="update" parameterType="aboutVO">
		<![CDATA[
			update about set
			education=#{education},
			country=#{country},
			lives=#{lives},
			birthday=#{birthday},
			bio = #{bio},
			comefrom = #{comeFrom},
			company = #{company}
			where userid=#{userId}
		]]>
	</update>
	<delete id="delete" parameterType="int">
		
			delete from about WHERE aboutid=#{id}
		
	</delete>
</mapper>