<?xml version="1.0" encoding="UTF-8"?>
<!-- create SQL Mapper-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="mappers.chatUserMapper"> <!-- like package -->
	<!-- no need loop resultSet -->
	<resultMap type="chatUserVO" id="chatUserResult">
		<!-- <result property="bkid" column="bkid"/>-->
	</resultMap>
	<!-- make sql statement -->
	
	<!-- List<Book> books = selectAll -->
	<select id="selectAll" resultMap="chatUserResult"> <!-- mapper.bookMapper.selectAll -->
		<![CDATA[
			select * from chat_user
		]]>
	</select>
	<select id="selectByChatId" resultMap="chatUserResult" parameterType="int">
		<![CDATA[
			select * from chat_user 
			where chatid = #{id}
		]]>
	</select>
	<select id="selectByUserId" resultMap="chatUserResult" parameterType="int">
		<![CDATA[
			select * from chat_user 
			where userid = #{id}
		]]>
	</select>
	<insert id="insert" parameterType="chatUserVO">
		<![CDATA[
			insert into chat_user
			(chatid,userid,isread,isdelete)
			values
			(#{chatId},#{userId},#{isread},#{isdelete})
		]]>
	</insert>
	<update id="update" parameterType="chatUserVO">
		<![CDATA[
			update chat_user set
			chatid=#{chatId},
			userid=#{userId},
			isread=#{isread},
			isdelete=#{isdelete}
			where chatid = #{chatId}
			and userid=#{userId}
		]]>
	</update>
	<delete id="deleteByChatId" parameterType="int">
		<![CDATA[
			delete from chat_user WHERE chatid=#{id}
		]]>
	</delete>
	<delete id="deleteByUserId" parameterType="int">
		<![CDATA[
			delete from chat_user WHERE userid=#{id}
		]]>
	</delete>
</mapper>