<?xml version="1.0" encoding="UTF-8"?>
<!-- create SQL Mapper-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="mappers.iconMapper"> <!-- like package -->
	<!-- no need loop resultSet -->
	<resultMap type="iconVO" id="iconResult">
		<!-- <result property="bkid" column="bkid"/>-->
	</resultMap>
	<!-- make sql statement -->
	
	<!-- List<Book> books = selectAll -->
	<select id="selectAll" resultMap="iconResult"> <!-- mapper.bookMapper.selectAll -->
		<![CDATA[
			select * from icon
		]]>
	</select>
	<select id="selectOne" resultMap="iconResult" parameterType="int">
		<![CDATA[
			select * from icon 
			where iconid = #{id}
		]]>
	</select>
	<insert id="insert" parameterType="iconVO">
		<![CDATA[
			insert into icon
			(name,description)
			values
			(#{name},#{description})
		]]>
	</insert>
	<update id="update" parameterType="iconVO">
		<![CDATA[
			update icon set
			name=#{name},
			description=#{description}
			where iconid = #{iconId}
		]]>
	</update>
	<delete id="delete" parameterType="int">
		<![CDATA[
			delete from icon WHERE iconid=#{id}
		]]>
	</delete>
</mapper>