<?xml version="1.0" encoding="UTF-8"?>
<!-- create SQL Mapper-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="mappers.imageMapper"> <!-- like package -->
	<!-- no need loop resultSet -->
	<resultMap type="imageVO" id="imageResult">
		<!-- <result property="bkid" column="bkid"/>-->
	</resultMap>
	<!-- make sql statement -->
	
	<!-- List<Book> books = selectAll -->
	<select id="selectAll" resultMap="imageResult"> <!-- mapper.bookMapper.selectAll -->
		<![CDATA[
			select * from image 
		]]>
	</select>
	<select id="selectOne" resultMap="imageResult" parameterType="int">
		<![CDATA[
			select * from image 
			where imageid = #{id}
		]]>
	</select>
	<select id="selectByPostid" resultMap="imageResult" parameterType="int">
		<![CDATA[
			select * from image 
			where postid = #{id}
		]]>
	</select>
	<insert id="insert" parameterType="imageVO">
		<![CDATA[
			insert into image
			(imgname,description,userid,postid)
			values
			(#{imgName},#{description},#{userId},#{postId})
		]]>
	</insert>
	<update id="update" parameterType="imageVO">
		<![CDATA[
			update image set
			imgname=#{imgName},
			description=#{description},
			userid=#{userId},
			postid=#{postId}
			where imageid = #{imageId}
		]]>
	</update>
	<delete id="delete" parameterType="int">
		<![CDATA[
			delete from image WHERE imageid=#{id}
		]]>
	</delete>
</mapper>