<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mappers.likeMapper">
	<resultMap type="likeVO" id="likeResult">
	</resultMap>
	
	<select id="selectAll" resultMap="likeResult">
		<![CDATA[
			select * from like
		]]>
	</select>
	<select id="selectOne" resultMap="likeResult" parameterType="int">
		<![CDATA[
			select * from like
			where likeid = #{id}
		]]>
	</select>
	<select id="selectByPostid" resultMap="likeResult" parameterType="int">
		<![CDATA[
			select * from ambi.like 
			where postid = #{postId}
		]]>
	</select>
	<select id="selectByUserid" resultMap="likeResult" parameterType="int">
		<![CDATA[
			select * from ambi.like 
			where userid = #{userId}
		]]>
	</select>
	<select id="selectByUseridAndPostid" resultMap="likeResult" parameterType="likeVO">
		<![CDATA[
			select * from ambi.like 
			where userid = #{userId} and postid = #{postId}
		]]>
	</select>
	<insert id="insert" parameterType="likeVO">
		<![CDATA[
			insert into ambi.like
			(postid,userid)
			values
			(#{postId},#{userId})
		]]>
	</insert>
	<update id="update" parameterType="likeVO">
		<![CDATA[
			update like set
			postid = #{postId},
			userid = #{userId}
			where likeid = #{likeId}
		]]>
	</update>
	<delete id="delete" parameterType="int">
		delete from like WHERE likeid=#{id}
	</delete>
	
	<delete id="deleteByPostIdAndUserId" parameterType="likeVO">
		delete from ambi.like WHERE postid=#{postId} and userid=#{userId}
	</delete>
</mapper>