<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mappers.menuMapper">
	<resultMap type="menuVO" id="menuResult">
	</resultMap>
	
	
	<select id="selectAll" resultMap="menuResult">
		<![CDATA[
			select * from menu
		]]>
	</select>
<select id="selectOne" resultMap="menuResult" parameterType="int">
	<![CDATA[
		select * from menu
		where menuid = #{menuId}
	]]>
</select>
<insert id="insert" parameterType="menuVO">
	<![CDATA[
		insert into menu
		(name,description,categoryid)
		values 
		(#{name},#{description},#{categoryId})
	]]>
</insert>
<update id="update" parameterType="menuVO">
	<![CDATA[
		update menu set
		name=#{name},
		description=#{description},
		categoryid=#{categoryId}
		where menuid = #{menuId}
	]]>
</update>
<select id="selectByCategoryId" resultMap="menuResult" parameterType="int">
	<![CDATA[
	select * from menu WHERE categoryid = #{id}
	]]>
</select>
<delete id="delete" parameterType="int">
	<![CDATA[
	delete from menu WHERE menuid = #{menuid}
	]]>
</delete>


</mapper>