<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mappers.notificationObjectMapper">
	<resultMap type="notificationObjectVO" id="notificationObjectResult">
	
	</resultMap>
	
	<select id="selectAll" resultMap="notificationObjectResult">
		<![CDATA[
			select * from notification_object
		]]>
	</select>
	
	<select id="selectOne" resultMap="notificationObjectResult" parameterType="int">
		<![CDATA[
			select * from notification_object
			where object_id = #{object_id}
		]]>
	</select>
	<insert id="insert" parameterType="notificationObjectVO">
		<![CDATA[
			insert into notification_object
			(object,noti_id)
			values
			(#{object},#{noti_id})
		]]>
	</insert>
	<update id="update" parameterType="notificationObjectVO">
		<![CDATA[
			update notification_object set
			object = #{object},
			noti_id = #{noti_id}
			where object_id = #{object_id}
		]]>
	</update>
	<delete id="delete" parameterType="int">
		delete from notification_object WHERE object_id = #{object_id} 
	</delete>
</mapper>