<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mappers.notificationsMapper">
	<resultMap type="notificationsVO" id="notificationsResult">
	</resultMap>
	
	<select id="selectAll" resultMap="notificationsResult">
		<![CDATA[
			select * from notifications
		]]>
	</select>
	<select id="selectOne" resultMap="notificationsResult" parameterType="int">
		<![CDATA[
			select * from notifications
			where notiid = #{notiId}
		]]>
	</select>
	<select id="selectNotiByUserId" resultMap="notificationsResult" parameterType="int">
		<![CDATA[
			SELECT * FROM notifications WHERE userid = #{userId} ORDER BY notidate asc
		]]>
	</select>
	<select id="selectWithoutNotiId" resultMap="notificationsResult" parameterType="map">
		<![CDATA[
			SELECT * FROM notifications WHERE userid = ${userId} and memo = ${memo} and notitypeid = ${notiTypeId}
		]]>
	</select>
	<select id="getNumberOfNotiByUserId" resultType="int" parameterType="map">
		<![CDATA[
			SELECT COUNT(*) FROM notifications WHERE userid = 2 AND isread = 0
		]]>
	</select>
	<insert id="insert" useGeneratedKeys="true" keyProperty="notiId"  keyColumn = "notiid" parameterType="notificationsVO">
		<![CDATA[
			insert into notifications
			(userid,isread, notidate, content, memo, notitypeid, quant, iduseractor)
			values
			(#{userId},#{isread},#{notiDate},#{content}, #{memo}, #{notiTypeId}, #{quant}, #{idUserActor})
		]]>
	</insert>
	<update id="update" parameterType="notificationsVO">
		<![CDATA[
			update notifications set
			userid = #{userId},
			isread = #{isread},
			notidate = #{notiDate},
			content = #{content},
			memo = #{memo},
			notitypeid = #{notiTypeId},
			quant = #{quant},
			iduseractor = #{idUserActor}
			where notiid = #{notiId}
		]]>
	</update>
	<delete id="delete" parameterType="int">
		<![CDATA[
		delete from notifications where notiid = #{notiId}
		]]>
	</delete>
</mapper>