<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.privacyMapper">
	<resultMap type="privacyVO" id="privacyResult">
	</resultMap>
	
	<select id="selectAll" resultMap="privacyResult">
		<![CDATA[
		select * from privacy
		]]>
	</select>
	<select id="selectOne" resultMap="privacyResult" parameterType="int">
		<![CDATA[
			select * from privacy
			where privacyid = #{privacyid}
		]]>
	</select>
	
	<insert id="insert" parameterType="privacyVO">
		<![CDATA[
			insert into privacy
			(name,description)
			values
			(#{name},#{description})
		]]>
	</insert>
	<update id="update" parameterType="privacyVO">
		<![CDATA[
			update privacy set
			name = #{name},
			description = #{description}
			where privacyid = #{privacyid}
		]]>
	</update>
	
	<delete id="delete " parameterType="int">
		<![CDATA[
		delete from privacy WHERE privacyid = #{privacyid}
		]]>
	</delete>
</mapper>