<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mappers.roleMapper">
	<resultMap type="roleVO" id="roleResult">
	</resultMap>
	
	<select id="selectAll" resultMap="roleResult">
		<![CDATA[
			select * from role
		]]>
	</select>
	
	<select id="selectOne" resultMap="roleResult" parameterType="int">
		<![CDATA[
			select * from role
			where roleid = #{roleid}
		]]>
	</select>
	<insert id="insert" parameterType="roleVO">
		<![CDATA[
			insert into role
			(description,name)
			values 
			(#{description}, #{name})
		]]>
	</insert>
	
	<update id="update" parameterType="roleVO">
		<![CDATA[
			update role set
			description = #{description},
			name = #{name}
			where roleid = #{roleid}
		]]>
	</update>
	
	<delete id="delete" parameterType="int">
		<![CDATA[
			delete from role
			where roleid = #{roleid}
		]]>
		
	</delete>
</mapper>