<?xml version="1.0" encoding="UTF-8"?>
<!-- create SQL Mapper-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="mappers.subcommentMapper"> <!-- like package -->
	<!-- no need loop resultSet -->
	<resultMap type="subcommentVO" id="subcommentResult">
		<!-- <result property="bkid" column="bkid"/>-->
	</resultMap>
	<!-- make sql statement -->
	
	<!-- List<Book> books = selectAll -->
	<select id="selectAll" resultMap="subcommentResult"> <!-- mapper.bookMapper.selectAll -->
		<![CDATA[
			select * from subcomment 
		]]>
	</select>
	<select id="selectOne" resultMap="subcommentResult" parameterType="int">
		<![CDATA[
			select * from subcomment 
			where subcommentId = #{subcommentid}
		]]>
	</select>
	<select id="selectByCommentid" resultMap="subcommentResult" parameterType="int">
		<![CDATA[
			select * from subcomment 
			where commentId = #{id}
		]]>
	</select>
	<insert id="insert" parameterType="subcommentVO">
		<![CDATA[
			insert into subcomment
			(content,commentdate,commentid)
			values
			(#{content},#{commentdate},#{commentid})
		]]>
	</insert>
	<update id="update" parameterType="subcommentVO">
		<![CDATA[
			update subcomment set
			content=#{content},
			commentdate=#{commentdate},
			commentid=#{commentid},
			where subcommentid = #{subcommentid}
		]]>
	</update>
	<delete id="delete" parameterType="int">
		
			delete from subcomment WHERE subcommentid=#{subcommentid}
		
	</delete>
</mapper>