<?xml version="1.0" encoding="UTF-8"?>
<!-- create SQL Mapper-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="mappers.userMapper"> <!-- like package -->
	<!-- no need loop resultSet -->
	<resultMap type="userVO" id="userResult">
		<!-- <result property="bkid" column="bkid"/>-->
	</resultMap>
	<!-- make sql statement -->
	
	<!-- List<Book> books = selectAll -->
	<select id="selectAll" resultMap="userResult"> <!-- mapper.bookMapper.selectAll -->
		<![CDATA[
			select * from user 
		]]>
	</select>
	<select id="selectOne" resultMap="userResult" parameterType="int">
		<![CDATA[
			select * from user 
			where userid = #{userid}
		]]>
	</select>
	<select id="selectByEmail" resultMap="userResult" parameterType="String">
		<![CDATA[
			select * from user 
			where email = #{email}
		]]>
	</select>
	<select id="selectListFriendById" resultMap="userResult" parameterType="int">
		<![CDATA[
			SELECT distinct user.name, user.useravt, user.userbgr, user.userid
			FROM friend, user 
			WHERE (friend.user1id = user.userid OR friend.user2id = user.userid) 
			AND (friend.user1id = #{userid} OR friend.user2id = #{userid})
		]]>
	</select>
	<insert id="insert" parameterType="userVO">
		<![CDATA[
			insert into user
			(name,phone,email,password,isactive,roleid,userurl,useravt,userbgr)
			values
			(#{name},#{phone},#{email},#{password},#{isactive},#{roleId},#{userUrl},#{useravt},#{userbgr})
		]]>
	</insert>
	<update id="update" parameterType="userVO">
		<![CDATA[
			update user set
			name=#{name},
			phone=#{phone},
			email=#{email},
			password=#{password},
			isactive=#{isactive},
			roleid = #{roleId},
			userurl = #{userUrl},
			useravt = #{useravt},
			userbgr = #{userbgr}
			where userid = #{userId}
		]]>
	</update>
	<delete id="delete" parameterType="int">
		
			delete from user WHERE userid=#{userid}
		
	</delete>
</mapper>